langchain
langchain-community
langchain-openai
langchain-milvus
langchain-docling
pymupdf
pymilvus
milvus
streamlit
ragas
python-dotenv
openai
datasets
pandas
rank_bm25
flashrank
transformers
sentence-transformers
